@model ShopITCourses.Models.Product

@{
    ViewData["Title"] = "Створення курсу";
    //var tokenUrl = $"{Context.Request.Scheme}://{Context.Request.Host}/token";
}

<h1 align="center">Створити курс для продажу</h1>

<hr />

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data">
            
            <partial name="_Product" model=@Model />

            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-primary">Назад</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @{
        await Html.RenderPartialAsync("_CKEditor");
    }
}
